/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do corpo do html*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('../../../assets/public/image/background1.png');
    opacity: 0.9;
}

/* Estilização do cabeçalho do html*/
header {
    background: #333;
    color: #f0e7e7;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #f3eded;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização do main do html*/

section {
    opacity: 0.9;
    width: 60%;
    text-align: center;
}

#intro, #login, #cadastro {
    background: #fff;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 8px;
    box-shadow: 10 10 20px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 1rem;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input, form select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100px;
}

form button:hover {
    background: #555;
}

#btn_section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

#btn_section button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
}

.btn:hover {
    background: #555;
}

/* Estilização do footer do html*/
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
    section {
        width: 95%;
    }
}

@media (max-width: 384px) {
    main {
        padding:0.2rem;
    }
    section {
        width: 100%;
        opacity: 0.8;
    }
}